In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("ICC survey response.csv")
df = df.replace(to_replace="School of Computing and Information Systems (SCIS)", value="SCIS")
df = df.replace(to_replace="Lee Kong Chian School of Business (LKCSB)", value="LKCSB")

In [3]:
scis = df[df["School"] == "SCIS"]
scis = scis.transpose()
scis = scis.replace(to_replace="Agree", value=1)
scis = scis.replace(to_replace="Disagree", value=0)
scis = scis.iloc[2:18]
scis

   0  1  4  7  10 11 12 13 15 17  ... 21 27 29 31 32 33 34 35 36 37
1   1  0  0  1  0  0  0  0  0  0  ...  1  1  0  0  0  0  1  1  1  1
2   0  1  0  0  0  0  0  0  1  0  ...  1  1  0  0  1  0  0  0  0  1
3   1  0  1  0  1  1  0  1  0  0  ...  1  1  0  1  1  1  0  0  1  1
4   1  0  0  1  0  0  0  1  0  1  ...  1  1  1  0  1  0  1  1  1  1
5   1  0  1  1  1  0  0  0  0  0  ...  1  0  1  1  0  0  1  0  1  1
6   1  0  0  0  0  0  0  1  0  0  ...  1  0  0  0  0  0  0  1  1  1
7   0  1  0  0  0  0  0  0  1  1  ...  1  1  1  0  1  0  0  1  1  1
8   1  0  1  1  1  0  0  0  0  0  ...  1  0  1  0  0  0  1  1  1  0
9   1  0  0  1  0  0  0  0  1  1  ...  1  1  0  0  0  0  1  0  1  0
10  0  0  0  0  1  0  0  0  1  0  ...  0  1  1  0  1  0  0  0  1  0
11  0  0  0  0  0  0  1  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
12  1  0  0  0  0  0  1  0  1  1  ...  0  1  1  1  1  1  1  1  1  1
13  1  0  0  0  0  1  0  0  0  0  ...  0  0  1  1  1  0  0  0  0  0
14  1  0  1  1  0  1  0  1  1  1  ...  1  1  1  1  1  1  1  0  1  1
15  1  0  0  0  0  0  0  0  0  1  ...  1  0  1  0  0  0  0  0  1  1
16  1  0  0  0  0  0  1  1  0  1  ...  1  1  1  0  0  0  0  0  0  0

[16 rows x 22 columns]

In [4]:
scis_sto = scis.iloc[:8].copy()
scis_sto_cols = scis_sto.shape[1]
scis_sto['Short Term Orientation'] = scis_sto.sum(axis=1)
scis_sto['Short Term Orientation %'] = scis_sto['Short Term Orientation'] / scis_sto_cols * 100
scis_sto

,0,1,4,7,10,11,12,13,15,17,...,29,31,32,33,34,35,36,37,Short Term Orientation,Short Term Orientation %
1,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,8,36.363636
2,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,6,27.272727
3,1,0,1,0,1,1,0,1,0,0,...,0,1,1,1,0,0,1,1,14,63.636364
4,1,0,0,1,0,0,0,1,0,1,...,1,0,1,0,1,1,1,1,14,63.636364
5,1,0,1,1,1,0,0,0,0,0,...,1,1,0,0,1,0,1,1,10,45.454545
6,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,7,31.818182
7,0,1,0,0,0,0,0,0,1,1,...,1,0,1,0,0,1,1,1,10,45.454545
8,1,0,1,1,1,0,0,0,0,0,...,1,0,0,0,1,1,1,0,9,40.909091

In [5]:
scis_indiv = scis.iloc[8:].copy()
scis_indiv_cols = scis_indiv.shape[1]
scis_indiv['Individualism'] = scis_indiv.sum(axis=1)
scis_indiv['Individualism %'] = scis_indiv['Individualism'] / scis_indiv_cols * 100
scis_indiv

,0,1,4,7,10,11,12,13,15,17,...,29,31,32,33,34,35,36,37,Individualism,Individualism %
9,1,0,0,1,0,0,0,0,1,1,...,0,0,0,0,1,0,1,0,10,45.454545
10,0,0,0,0,1,0,0,0,1,0,...,1,0,1,0,0,0,1,0,6,27.272727
11,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,2,9.090909
12,1,0,0,0,0,0,1,0,1,1,...,1,1,1,1,1,1,1,1,14,63.636364
13,1,0,0,0,0,1,0,0,0,0,...,1,1,1,0,0,0,0,0,5,22.727273
14,1,0,1,1,0,1,0,1,1,1,...,1,1,1,1,1,0,1,1,18,81.818182
15,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,1,7,31.818182
16,1,0,0,0,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,8,36.363636

In [6]:
lkcsb = df[df["School"] == "LKCSB"]
lkcsb = lkcsb.transpose()
lkcsb = lkcsb.replace(to_replace="Agree", value=1)
lkcsb = lkcsb.replace(to_replace="Disagree", value=0)
lkcsb = lkcsb.iloc[2:18]
lkcsb

   2  3  5  6  8  9  14 16 19 22 23 24 25 26 28 30 38 39 40 41
1   0  1  0  1  0  0  0  0  1  1  1  1  1  0  1  0  0  1  1  1
2   0  1  0  1  0  1  1  0  0  0  0  0  0  1  0  0  0  0  0  1
3   1  1  1  1  1  1  0  0  1  1  1  1  1  1  1  1  1  0  1  1
4   0  1  0  0  0  1  0  0  1  1  1  0  1  0  0  1  1  1  1  1
5   0  0  1  1  0  0  1  0  1  1  1  1  1  1  1  0  0  1  1  1
6   1  0  0  0  0  0  1  0  0  1  1  0  1  1  1  0  0  0  1  1
7   1  1  0  0  0  0  0  0  0  1  0  1  1  1  1  0  0  0  1  1
8   1  1  0  0  1  0  1  1  0  0  1  0  0  0  1  1  0  0  0  1
9   1  1  1  0  0  0  0  1  0  1  0  0  0  1  1  1  1  0  0  1
10  1  0  0  1  0  0  0  0  0  0  0  1  1  0  1  0  0  0  0  0
11  1  0  0  0  0  0  0  0  0  0  0  0  0  1  1  0  0  0  0  0
12  1  0  1  0  0  1  1  1  1  1  0  1  0  0  1  1  0  0  0  0
13  1  0  0  0  0  0  0  0  0  0  0  1  0  0  0  1  0  1  1  0
14  1  1  1  1  0  1  1  1  1  1  1  1  0  1  1  1  1  0  0  1
15  1  0  0  1  0  0  1  0  1  0  0  0  0  1  0  1  0  1  0  0
16  0  0  0  1  0  0  0  0  0  1  0  1  1  1  0  0  0  1  1  0

In [7]:
lkcsb_sto = lkcsb.iloc[:8].copy()
lkcsb_sto_cols = lkcsb_sto.shape[1]
lkcsb_sto['Short Term Orientation'] = lkcsb_sto.sum(axis=1)
lkcsb_sto['Short Term Orientation %'] = lkcsb_sto['Short Term Orientation'] / lkcsb_sto_cols * 100
lkcsb_sto

,2,3,5,6,8,9,14,16,19,22,...,25,26,28,30,38,39,40,41,Short Term Orientation,Short Term Orientation %
1,0,1,0,1,0,0,0,0,1,1,...,1,0,1,0,0,1,1,1,11,55.0
2,0,1,0,1,0,1,1,0,0,0,...,0,1,0,0,0,0,0,1,6,30.0
3,1,1,1,1,1,1,0,0,1,1,...,1,1,1,1,1,0,1,1,17,85.0
4,0,1,0,0,0,1,0,0,1,1,...,1,0,0,1,1,1,1,1,11,55.0
5,0,0,1,1,0,0,1,0,1,1,...,1,1,1,0,0,1,1,1,13,65.0
6,1,0,0,0,0,0,1,0,0,1,...,1,1,1,0,0,0,1,1,9,45.0
7,1,1,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,1,1,9,45.0
8,1,1,0,0,1,0,1,1,0,0,...,0,0,1,1,0,0,0,1,9,45.0

In [8]:
lkcsb_indiv = lkcsb.iloc[8:].copy()
lkcsb_indiv_cols = lkcsb_indiv.shape[1]
lkcsb_indiv['Individualism'] = lkcsb_indiv.sum(axis=1)
lkcsb_indiv['Individualism %'] = lkcsb_indiv['Individualism'] / lkcsb_indiv_cols * 100
lkcsb_indiv

,2,3,5,6,8,9,14,16,19,22,...,25,26,28,30,38,39,40,41,Individualism,Individualism %
9,1,1,1,0,0,0,0,1,0,1,...,0,1,1,1,1,0,0,1,10,50.0
10,1,0,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,5,25.0
11,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,3,15.0
12,1,0,1,0,0,1,1,1,1,1,...,0,0,1,1,0,0,0,0,10,50.0
13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,5,25.0
14,1,1,1,1,0,1,1,1,1,1,...,0,1,1,1,1,0,0,1,16,80.0
15,1,0,0,1,0,0,1,0,1,0,...,0,1,0,1,0,1,0,0,7,35.0
16,0,0,0,1,0,0,0,0,0,1,...,1,1,0,0,0,1,1,0,7,35.0

In [9]:
scis_sto_rate = scis_sto['Short Term Orientation %'].mean()
scis_sto_rate

44.31818181818182

In [11]:
scis_indiv_rate = scis_indiv["Individualism %"].mean()
scis_indiv_rate

39.77272727272727

In [12]:
lkcsb_sto_rate = lkcsb_sto['Short Term Orientation %'].mean()
lkcsb_sto_rate

53.125

In [14]:
lkcsb_indiv_rate = lkcsb_indiv["Individualism %"].mean()
lkcsb_indiv_rate

39.375